distrib3client/ClienteWebService/Service References/WebServiceReferencia/wsLocadora.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://WebService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="wsLocadora" targetNamespace="http://WebService/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/distrib3WebService/wsLocadora?xsd=1" namespace="http://WebService/" />
    </xsd:schema>
  </types>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <message name="ListarVeiculos">
    <part name="parameters" element="tns:ListarVeiculos" />
  </message>
  <message name="ListarVeiculosResponse">
    <part name="parameters" element="tns:ListarVeiculosResponse" />
  </message>
  <message name="ConsultarLocacoesVeiculo">
    <part name="parameters" element="tns:ConsultarLocacoesVeiculo" />
  </message>
  <message name="ConsultarLocacoesVeiculoResponse">
    <part name="parameters" element="tns:ConsultarLocacoesVeiculoResponse" />
  </message>
  <message name="EfetuarLocacao">
    <part name="parameters" element="tns:EfetuarLocacao" />
  </message>
  <message name="EfetuarLocacaoResponse">
    <part name="parameters" element="tns:EfetuarLocacaoResponse" />
  </message>
  <portType name="wsLocadora">
    <operation name="hello">
      <input wsam:Action="http://WebService/wsLocadora/helloRequest" message="tns:hello" />
      <output wsam:Action="http://WebService/wsLocadora/helloResponse" message="tns:helloResponse" />
    </operation>
    <operation name="ListarVeiculos">
      <input wsam:Action="http://WebService/wsLocadora/ListarVeiculosRequest" message="tns:ListarVeiculos" />
      <output wsam:Action="http://WebService/wsLocadora/ListarVeiculosResponse" message="tns:ListarVeiculosResponse" />
    </operation>
    <operation name="ConsultarLocacoesVeiculo">
      <input wsam:Action="http://WebService/wsLocadora/ConsultarLocacoesVeiculoRequest" message="tns:ConsultarLocacoesVeiculo" />
      <output wsam:Action="http://WebService/wsLocadora/ConsultarLocacoesVeiculoResponse" message="tns:ConsultarLocacoesVeiculoResponse" />
    </operation>
    <operation name="EfetuarLocacao">
      <input wsam:Action="http://WebService/wsLocadora/EfetuarLocacaoRequest" message="tns:EfetuarLocacao" />
      <output wsam:Action="http://WebService/wsLocadora/EfetuarLocacaoResponse" message="tns:EfetuarLocacaoResponse" />
    </operation>
  </portType>
  <binding name="wsLocadoraPortBinding" type="tns:wsLocadora">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListarVeiculos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ConsultarLocacoesVeiculo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EfetuarLocacao">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="wsLocadora">
    <port name="wsLocadoraPort" binding="tns:wsLocadoraPortBinding">
      <soap:address location="http://localhost:8080/distrib3WebService/wsLocadora" />
    </port>
  </service>
</definitions>